[submodule "lib/middleclass"]
	path = lib/middleclass
	url = https://github.com/xpol/middleclass.git
[submodule "lib/middleclass-extras"]
	path = lib/middleclass-extras
	url = https://github.com/xpol/middleclass-extras.git
[submodule "lib/middleclass-ai"]
	path = lib/middleclass-ai
	url = https://github.com/xpol/middleclass-ai.git
